<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    [disabled]="!f.valid"class="btn btn-success"
                     >{{ editMode ? 'Update' : 'Add'}}</button>
                    <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editMode">Delete</button>
                    <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>